﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Theme/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>

    <link href="@Url.Content("~/assets/css/bootstrap-theme.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/css/kendo.common.min.css")" rel="stylesheet" />
    @*<link href="@Url.Content("~/assets/css/kendo.rtl.min.css")" rel="stylesheet" />*@
    <link href="@Url.Content("~/assets/css/kendo.material.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/css/kendo.material.mobile.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Theme/assets/css/bootstrap.css")" rel="stylesheet" />

    <link href="@Url.Content("~/Theme/assets/css/style.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Theme/assets/css/style-responsive.css")" rel="stylesheet" />

    <script type="text/javascript" src="@Url.Content("~/assets/Js/jquery.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/Js/jszip.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/Js/kendo.all.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/App/Common/MicrosoftAjax.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/Js/TemplateLoader.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/App/Common/KendoBindings.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/App/Common/Common.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/App/DataSources/DataSourceOperations.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/assets/js/kendo.combobox.min.js")"></script>
</head>
<body>
    <section id="container">
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>
            <!--logo start-->
            <a href="" class="logo"><img src="~/Theme/assets/img/logo.png" /></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu"></ul>
                <!--  notification end -->
            </div>
            <div class="top-menu">
                <ul class="nav pull-right top-menu">
                    <li>
                        <a id="logoff" class="logout btn-flat" href="#" data-bind="events:{click:doLogout}">Logout</a>
                    </li>
                </ul>
            </div>
        </header>
        <aside>
            <div id="sidebar" class="sidebar nav-collapse collapse">
                <!-- sidebar menu start-->
                <p class="centered"><a href="#"><img src="~/Theme/assets/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
                <h5 class="centered">Marcel Newman</h5>

                <ul class="sidebar-menu mt" id="nav-accordion"></ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <section id="main-content">
            <div id="app"></div>
            @RenderBody()
        </section>
    </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <link href="../../Theme/assets/css/table-responsive.css" rel="stylesheet">
    <link href="../../Theme/assets/css/style-responsive.css" rel="stylesheet">

    <script src="../../Theme/assets/js/jquery.js"></script>
    <script src="../../Theme/assets/js/jquery-1.8.3.min.js"></script>
    <script src="../../Theme/assets/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="../../Theme/assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="../../Theme/assets/js/jquery.scrollTo.min.js"></script>
    <script src="../../Theme/assets/js/jquery.nicescroll.js" type="text/javascript"></script>

    @*toastr js and css files*@
    <script src="~/Scripts/toastr.js"></script>
    <link href="~/Content/toastr.css" rel="stylesheet" />


    <!--common script for all pages-->
    <script src="../../Theme/assets/js/common-scripts.js"></script>

    <!--script for this page-->
    <script type="text/javascript" src="../../Theme/assets/js/gritter/js/jquery.gritter.js"></script>
    <script type="text/javascript" src="../../Theme/assets/js/gritter-conf.js"></script>

    <script src="@Url.Content("~/App/ViewModels/HomeLayoutViewModel.js")"></script>
    @*<script src="@Url.Content("~/App/DataSources/DashboardDataSource.js")"></script>*@

    >
    <script type="text/javascript">
        $(window).load(function () {
            STS.Portal.spa.HomeLayoutViewModel().start();
        });
    </script>

    <script type="text/javascript">
        $("#logoff").click(function (e) {
            $.ajax({
                type: "POST",
                url: '/api/Account/' + "LogoffUser",
                beforeSend: function (xhr) {
                    var jsonObj = jQuery.parseJSON(localStorage.getItem("token"));
                    if (jsonObj == null) {
                        window.location.href = "/Account/Login";
                        return false;
                    }
                    var auth = "Bearer " + jsonObj.access_token;
                    xhr.setRequestHeader("Authorization", auth);
                },
                dataType: "JSON",
                contentType: "application/JSON",
                success: function (e) {
                    if (e = "Success") {
                        localStorage.clear();
                        top.location.href = '/Account/Login?ReturnUrl=%2F';
                    }
                },
                error: function (error) {
                }
            });

        });
    </script>

</body>
</html>
