﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Theme/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>

    <link href="@Url.Content("~/assets/css/bootstrap-theme.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/css/kendo.common.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/css/kendo.default.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/css/kendo.material.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/css/kendo.rtl.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Theme/assets/css/bootstrap.css")" rel="stylesheet" />

    <link href="@Url.Content("~/Theme/assets/css/style.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Theme/assets/css/style-responsive.css")" rel="stylesheet" />

    <script type="text/javascript" src="@Url.Content("~/assets/Js/jquery.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/Js/kendo.all.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/App/Common/MicrosoftAjax.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/Js/TemplateLoader.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/App/Common/KendoBindings.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/App/Common/Common.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/App/DataSources/DataSourceOperations.js")"></script>

    <script src="~/Scripts/toastr.js"></script>
    <link href="~/Content/toastr.css" rel="stylesheet" />
</head>
<body>
    <div id="app"></div>
    @RenderBody()

    <script src="@Url.Content("~/App/ViewModels/HomeLayoutViewModel.js")"></script>
    <script type="text/javascript">
        $(window).load(function () {
            STS.Portal.spa.HomeLayoutViewModel().start();
        });
    </script>
</body>
</html>
@*<script type="text/javascript" src="/Theme/assets/js/jquery.backstretch.min.js"></script>
<script>
    $.backstretch("/Theme/assets/img/login-bg.jpg", { speed: 500 });
</script>*@
