﻿@{
    ViewBag.Title = "Recruitement";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<div class="se-pre-con" style="display: none; background: url(../Theme/assets/img/Loader.gif) center no-repeat; position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 9999; background-color: aliceblue; opacity: 0.7; "></div>
<section class="wrapper" ng-controller="recruitmentCtrl" style="display:none;" disable>
    <script src="~/CustomJs/Controllers/RecruitmentController.js"></script>
    <script src="~/CustomJs/Services/RecruitmentFactory.js"></script>

    <h3>{{title}}</h3>

    <div class="col-md-12" style="padding-top: 10px; padding-bottom: 10px;border-radius: 4px 4px 0 0; ">
        <div class="col-md-6 text-left" style="padding-left: 0px;">
            <input type="text" placeholder="enter email id for search.." class="form-control" ng-show="displayTable" ng-model="searchKeyword" />
        </div>
        <div class="col-md-6 text-right" style="padding-right: 0px;">
            <button id="showAll" type="button" class="btn btn-primary btn-sm" ng-show="!displayTable" ng-click="showAll()"><i class="fa fa-columns"></i> Show All</button>&nbsp;&nbsp;
            <button id="addNewConsultant" type="button" class="btn btn-primary btn-sm" ng-show="displayTable" ng-click="addNewCounsultant()" data-dom-cache="false"><i class="fa fa-plus"></i> Add New</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="content-panel">
                <div class="table-responsive" ng-show="displayTable">
                    <table class="table table-striped" style="color:black;">
                        <thead>
                            <tr>
                                <th ng-repeat="header in headerValus">{{header.header}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="consultant in consultants | filter: searchKeyword">
                                <td>
                                    <a class="rowAction" href="#" ng-click="edit(consultant)"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;
                                    <a class="rowAction" href="#" ng-click="delete(consultant)"><i class="glyphicon glyphicon-trash"></i></a>
                                </td>
                                <td>{{ consultant.fName}}&nbsp;{{consultant.lName }}</td>
                                <td>{{ consultant.email }}</td>
                                <td>{{ consultant.phoneNumber }}</td>

                                <td ng-if="consultant.resume" style="text-align:center;"><a class="fa fa-download" href="{{ consultant.resume }}" download></a></td>
                                <td ng-if="!consultant.resume" style="text-align:center;">-</td>

                                <td ng-if="consultant.workAuthProof" style="text-align:center;"><a class="fa fa-download" href="{{ consultant.workAuthProof }}" download></a></td>
                                <td ng-if="!consultant.workAuthProof" style="text-align:center;">-</td>

                                <td ng-if="consultant.profileStatus">{{ consultant.profileStatus }}</td>
                                <td ng-if="!consultant.profileStatus">-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="tabBox widget-tabs" style="color:black;" ng-hide="displayTable" ng-model="consultant">
                <ul class="tabs nav nav-tabs">
                    <li id="tab1li"><a href="#tab1" class="anchorTab">Personal Information</a></li>
                    <li id="tab2li"><a href="#tab2" class="anchorTab">Contact Information</a></li>
                    <li id="tab3li"><a href="#tab3" class="anchorTab">Education</a></li>
                    <li id="tab4li"><a href="#tab4" class="anchorTab">Additional Information</a></li>
                    <li id="tab5li"><a href="#tab5" class="anchorTab">Documents</a>
                    <li id="tab6li"><a href="#tab6" class="anchorTab">Additional Info - Profile submission</a></li>
                </ul>

                <div class="tabContainer">
                    <div id="tab1" class="tabContent">
                        <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;">
                            <div class="content-panel" style="height: 100%">
                                <form class="form-horizontal" role="form" id="myForm" style="padding-top: 15px;">
                                    <fieldset>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="firstname" class="col-sm-4 control-label">First Name*:</label>
                                                <div class="col-sm-7">
                                                    <input type="text" id="firstname" name="firstname" class="form-control" ng-model="consultant.fName" ng-blur="validateFirstName(consultant.fName)" onkeypress="return lettersOnly(event)" placeholder="Enter your first name" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="lastname" class="col-sm-4 control-label">Last Name*:</label>
                                                <div class="col-sm-7">
                                                    <input type="text" id="lastname" name="lastname" class="form-control" ng-model="consultant.lName" ng-blur="validateLastName(consultant.lName)" onkeypress="return lettersOnly(event)" placeholder="Enter your last name" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="email" class="col-sm-4 control-label">Email*:</label>
                                                <div class="col-sm-7">
                                                    <input type="text" id="email" class="form-control" ng-model="consultant.email" ng-blur="validateConsultantEmail(consultant.email)" placeholder="Enter your email" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="phoneNumber" class="col-sm-4 control-label">Phone Number*:</label>
                                                <div class="col-sm-7">
                                                    <input type="text" id="phoneNumber" numbers-only ng-model="consultant.phoneNumber" class="form-control" placeholder="Enter your number" style="" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="workAuthorizationType" class="col-sm-4 control-label">Work Authorization Type*:</label>
                                                <div class="col-sm-7">
                                                    <select id="workAuthorizationType" class="form-control" ng-model="consultant.workAuthorizationType">
                                                        <option value="">-Select-</option>
                                                        <option value="US Citizen">US Citizen</option>
                                                        <option value="Canadian Citizen">Canadian Citizen</option>
                                                        <option value="Green Card Holder">Green Card Holder</option>
                                                        <option value="Need H1 Visa">Need H1 Visa</option>
                                                        <option value="Have H1 Visa">Have H1 Visa</option>
                                                        <option value="Employment Auth Document">Employment Auth Document</option>
                                                        <option value="TN Permit Holder">TN Permit Holder</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="dateOfFirst" class="col-sm-4 control-label">
                                                    Date of first entry to US
                                                    :
                                                </label>
                                                <div class="col-sm-7">
                                                    <input type="date" name="input" ng-model="consultant.doeUSA" class="form-control"
                                                           placeholder="yyyy-MM-dd" />
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                                <div class="form-group" style="text-align: right;padding-right: 15px;padding-bottom: 15px;">
                                    <button class="btn btn-primary btn-sm" ng-click="savePersonalInformation(consultant, 'save')">Save <i class="fa fa-save"></i></button>&nbsp;&nbsp;
                                    <button class="btn btn-danger btn-sm" ng-click="cancel()" data-dom-cache="false">Cancel <i class="fa fa-ban"></i></button>&nbsp;&nbsp;
                                    <button class="btn btn-info btn-sm" id="tab1NextButton" ng-click="savePersonalInformation(consultant, 'next')">Next <i class="fa fa-angle-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="tab2" class="tabContent">
                        <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;">
                            <div class="content-panel" style="height: 100%">
                                <form class="form-horizontal" role="form" style="padding-top: 15px;">
                                    <fieldset>
                                        <div class="col-md-12" style="padding-left: 5px;">
                                            <p style="font-weight:bold">Current Location:</p>
                                        </div>
                                        <div class="col-md-12">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Country*</th>
                                                        <th>State*</th>
                                                        <th>City*</th>
                                                        <th>Street*</th>
                                                        <th>Zipcode*</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="col-md-2">
                                                            <select id="currentCountry" class="form-control" ng-model="consultant.currentLocation.country" ng-options="country as country.name for country in countries" ng-change="OnSelectOfCountryDropdwon(consultant.currentLocation.country)">
                                                                <option value="">
                                                                    -Select Country-
                                                                </option>
                                                            </select>
                                                        </td>
                                                        <td class="col-md-2">
                                                            <select id="currentState" class="form-control" ng-model="consultant.currentLocation.state" ng-options="state as state.name for state in states">
                                                                <option value="">-Select State-</option>
                                                            </select>
                                                        </td>
                                                        <td class="col-md-2">
                                                            <input type="text" id="currentcity" class="form-control" ng-model="consultant.currentLocation.city" placeholder="city name" />
                                                        </td>
                                                        <td class="col-md-3">
                                                            <input type="text" id="currentstreet" class="form-control" ng-model="consultant.currentLocation.street" placeholder="444, bombay market street" />
                                                        </td>
                                                        <td class="col-md-2">
                                                            <input type="text" id="currentZipcode" class="form-control" numbers-only ng-model="consultant.currentLocation.zipcode" placeholder="395010" />
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="col-md-12" style="padding-left: 5px;display:flex">
                                            <p style="font-weight:bold">
                                                Preferred Relocation:&nbsp;&nbsp;
                                                <button type="button" id="addNewLocations" ng-click="addNew()" class="btn btn-info btn-xs">Add New</button>
                                            </p>
                                        </div>

                                        <div id="preferredLocations" class="col-md-12">
                                            <table class="table" id="preferredRelocationTable">
                                                <thead>
                                                    <tr>
                                                        <th>Country</th>
                                                        <th>State</th>
                                                        <th>City</th>
                                                        <th>Zipcode</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="preferredRelocation in preferredRelocations">
                                                        <td class="col-md-3">
                                                            <div class="">
                                                                <select id="preferredRelocationCountry_{{$index}}" class="form-control" ng-model="preferredRelocation.country" ng-options="country as country.name for country in countries" ng-change="OnSelectOfpreferredRelocationDropdwon(preferredRelocation.country, preferredRelocations,{{$index}})">
                                                                    <option value="">-Select-</option>
                                                                </select>
                                                            </div>
                                                        </td>
                                                        <td class="col-md-3">
                                                            <div class="">
                                                                <select id="preferredRelocationState_{{$index}}" class="form-control" ng-model="preferredRelocation.state" ng-options="state as state.name for state in preferredRelocationStates_{{$index}}">
                                                                    <option value="">-Select-</option>
                                                                </select>
                                                            </div>
                                                        </td>
                                                        <td class="col-md-3">
                                                            <div class="">
                                                                <input type="text" id="preferredRelocationCity" class="form-control" ng-model="preferredRelocation.city" />
                                                            </div>
                                                        </td>
                                                        <td class="col-md-3">
                                                            <div class="">
                                                                <input type="text" id="preferredRelocationZipcode" class="form-control" numbers-only ng-model="preferredRelocation.zipcode" />
                                                            </div>
                                                        </td>
                                                        <td class="col-md-2">
                                                            <div class="">
                                                                <button type="button" id="removeLocationRow" ng-model="preferredRelocation.selected" ng-click="removeLocationRow($index)" class="btn btn-info btn-xs">X</button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </fieldset>
                                </form>
                                <div class="form-group" style="text-align: right;padding-right: 15px;padding-bottom: 15px;">
                                    <button class="btn btn-primary btn-sm" ng-click="gotoPreviousTab1()"><i class="fa fa-angle-left"></i> Previous</button>&nbsp;&nbsp;
                                    <button class="btn btn-primary btn-sm" ng-click="saveLocationInformation(consultant.currentLocation, preferredRelocations, 'save')">Save <i class="fa fa-save"></i></button>&nbsp;&nbsp;
                                    <button class="btn btn-danger btn-sm" ng-click="cancel()">Cancel <i class=" fa fa-ban"></i></button>&nbsp;&nbsp;
                                    <button class="btn btn-info btn-sm" ng-click="saveLocationInformation(consultant.currentLocation, preferredRelocations, 'next')">Next <i class="fa fa-angle-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="tab3" class="tabContent">
                        <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;">
                            <div class="content-panel" style="height: 100%">
                                <form class="form-horizontal" role="form" style="padding-top: 15px;">
                                    <fieldset>
                                        <div class="col-md-12" style="padding-left: 5px;display:flex">
                                            <p style="font-weight:bold">
                                                Add Education*:&nbsp;&nbsp;
                                                <button type="button" id="addNewAducation" ng-click="addNewAducation()" class="btn btn-info btn-xs">Add New</button>
                                            </p>
                                        </div>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>University</th>
                                                    <th>Degree</th>
                                                    <th>StartDate</th>
                                                    <th>EndDate</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="educationrow in education">
                                                    <td class="col-md-3" style="border-top: none; padding-bottom: 0px;">
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <input type="text" id="currentUniversity" class="form-control" ng-model="educationrow.university" />
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="col-md-3" style="border-top: none; padding-bottom: 0px;">
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <input type="text" id="CurrentDegree" class="form-control" ng-model="educationrow.degree" />
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="col-md-3" style="border-top: none; padding-bottom: 0px;">
                                                        <div class="form-group">
                                                            <div class="col-sm-12">
                                                                <input type="date" id="CurrentStartDate" name="input" ng-model="educationrow.startDate" class="form-control"
                                                                       placeholder="yyyy-MM-dd" />
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="col-md-3" style="border-top: none; padding-bottom: 0px;">
                                                        <div class="form-group">
                                                            <div class="col-sm-12">
                                                                <input type="date" id="CurrentEndDate" name="input" ng-model="educationrow.endDate" class="form-control"
                                                                       placeholder="yyyy-MM-dd" />
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="col-md-2" style="border-top: none; padding-top: 10px;">
                                                        <button type="button" id="removeEducationRow" ng-model="educationrow.selected" ng-click="removeEducationRow($index)" class="btn btn-info btn-xs">X</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </fieldset>
                                </form>
                                <div class="form-group" style="text-align: right;padding-right: 15px;padding-bottom: 15px;">
                                    <button class="btn btn-primary btn-sm" ng-click="goToPreviousTab2()"><i class="fa fa-angle-left"></i> Previous</button>&nbsp;&nbsp;
                                    <button class="btn btn-primary btn-sm" ng-click="saveEducationInformation(education, 'save')">Save <i class="fa fa-save"></i></button>&nbsp;&nbsp;
                                    <button class="btn btn-danger btn-sm" ng-click="cancel()">Cancel <i class=" fa fa-ban"></i></button>&nbsp;&nbsp;
                                    <button class="btn btn-info btn-sm" ng-click="saveEducationInformation(education, 'next')">Next <i class="fa fa-angle-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="tab4" class="tabContent">
                        <div class="col-md-12" style="padding-left:0px; padding-right:0px;">
                            <div class="content-panel" style="height: 100%">
                                <form class="form-horizontal" role="form" style="padding-top:15px;">
                                    <fieldset>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Primary Skill Set*:</label>
                                                <div class="col-sm-7" style="display: -webkit-box;">
                                                    <div checkboxes="true" extra-settings="primarySkillSetting" id="primarySkillDropdown" ng-dropdown-multiselect="" options="primarySkillData" selected-model="primarySkillModel"></div>
                                                    <button class="btn" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i></button>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <span id="horizontal-list">
                                                        <span ng-repeat="skill in primarySkillModel" class="">{{skill.id}}</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Salary*:</label>
                                                <div class="col-sm-7" style="display: flex;">
                                                    <select id="salaryDropdown" class="form-control" data-ng-model="consultant.salary.billingMode" style="width: 50%; padding: 0px 0px 0px 6px;">
                                                        <option value="">-Select-</option>
                                                        <option value="hourly">hourly</option>
                                                        <option value="annually">annually</option>
                                                    </select>
                                                    <span style="width: 13%; padding-top: 3px;">&nbsp;&nbsp;<i class="fa fa-angle-left fa-2x"></i>&nbsp;&nbsp;</span>
                                                    <input type="text" id="salaryHourlyTextbox" style="width: 61%; ;padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 6px; " class="form-control" ng-model="consultant.salary.expectedAmount" placeholder="Ex. 50000"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="jobLookingTxtBox" class="col-sm-4 control-label">seeking job roles*:</label>
                                                <div class="col-sm-7">
                                                    <input type="text" id="jobLookingTxtBox" class="form-control" ng-model="consultant.joblooking" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="linkedInProfile" class="col-sm-4 control-label">LinkedIn Profile:</label>
                                                <div class="col-sm-7">
                                                    <input type="url" class="form-control" id="linkedInProfile" ng-model="consultant.linkdeinProfile" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="lastFourSSN" class="col-sm-4 control-label">Last 5 SSN*:</label>
                                                <div class="col-sm-7">
                                                    <input type="text" numbers-only class="form-control" maxlength="5" id="lastFourSSN" ng-model="consultant.ssnLastFour" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Secondary Skill Set:</label>
                                                <div class="col-sm-7" style="display: -webkit-box;">
                                                    <div checkboxes="true" extra-settings="secondarySkillSetting" id="secondarySkillDropdown" ng-dropdown-multiselect="" options="secondarySkillData" selected-model="secondarySkillModel"></div>
                                                    <button class="btn" data-toggle="modal" data-target="#SecondarySkillModal"><i class="fa fa-plus"></i></button>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <span id="horizontal-list">
                                                        <span ng-repeat="skill in secondarySkillModel" class="">{{skill.id}}</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="form-group">
                                                <label for="clientTimeTextArea" class="col-sm-4 control-label">Client interview availability Timings:</label>
                                                <div class="col-sm-7">
                                                    <textarea rows="4" class="form-control" id="clientTimeTextArea" ng-model="consultant.clientInterviewTimes"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="vendorTimeTextArea" class="col-sm-4 control-label">Vendor call availability timings:</label>
                                                <div class="col-sm-7">
                                                    <textarea rows="4" class="form-control" id="vendorTimeTextArea" ng-model="consultant.vendorCallTimings"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                                <div class="form-group" style="text-align: right;padding-right: 15px;padding-bottom: 15px;">
                                    <button class="btn btn-primary btn-sm" ng-click="gotoPreviousTab3()"><i class="fa fa-angle-left"></i> Previous</button>&nbsp;&nbsp;
                                    <button class="btn btn-primary btn-sm" ng-click="SaveAdditionalInfo(consultant,primarySkillModel,secondarySkillModel, 'save')">Save <i class="fa fa-save"></i></button>&nbsp;&nbsp;
                                    <button class="btn btn-danger btn-sm" ng-click="cancel()">Cancel <i class=" fa fa-ban"></i></button>&nbsp;&nbsp;
                                    <button class="btn btn-info btn-sm" ng-click="SaveAdditionalInfo(consultant,primarySkillModel,secondarySkillModel,'next' )">Next <i class="fa fa-angle-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="tab5" class="tabContent">
                        <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;">
                            <div class="content-panel" style="height: 100%">
                                <form class="form-horizontal" role="form" style="padding-top:15px;">
                                    <fieldset>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-sm-3">
                                                    <label for="resume" class="control-label">Resume:</label>
                                                </div>
                                                <div class="col-sm-9" style="display: inline-flex;">
                                                    <input type="file" id="resume" class="btn btn-default" file-model="resumeLink" style="border: none;" />
                                                    &nbsp;&nbsp;&nbsp;
                                                    <a class="" ng-show="IsResumeAvail" href="{{consultant.resume}}" style="padding-top: 7px;" download>Previous Resume</a>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-3">
                                                    <label for="photoId" class="control-label">Photo Id Proof:</label>
                                                </div>
                                                <div class="col-sm-9" style="display: inline-flex;">
                                                    <input type="file" id="photoId" class="btn btn-default" file-model="photoProof" style="border: none;" />
                                                    &nbsp;&nbsp;&nbsp;
                                                    <a class="" ng-show="IsPhotoAvail" href="{{consultant.photoProof}}" style="padding-top: 7px;" download>Previous Photo Id Proof</a>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-3">
                                                    <label for="photoId" class="control-label">Work Authorization Proof:</label>
                                                </div>
                                                <div class="col-sm-9" style="display: inline-flex;">
                                                    <input type="file" id="workAuth" class="btn btn-default" file-model="workAuthProof" style="border: none;" />
                                                    &nbsp;&nbsp;&nbsp;
                                                    <a class="" ng-show="IsWorkAvail" href="{{consultant.workAuthProof}}" style="padding-top: 7px;" download>Previous Work Authorization Proof</a>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                                <div class="form-group" style="text-align: right;padding-right: 15px;padding-bottom: 15px;">
                                    <button class="btn btn-primary btn-sm" ng-click="goToPreviousTab4()"><i class="fa fa-angle-left"></i> Previous</button>&nbsp;&nbsp;
                                    <button class="btn btn-primary btn-sm" ng-click="saveDocuments(resumeLink, photoProof, workAuthProof , 'save')">Save <i class="fa fa-save"></i></button>&nbsp;&nbsp;
                                    <button class="btn btn-danger btn-sm" ng-click="cancel()">Cancel <i class=" fa fa-ban"></i></button>&nbsp;&nbsp;
                                    <button class="btn btn-info btn-sm" ng-click="saveDocuments(resumeLink, photoProof, workAuthProof , 'next')">Next <i class="fa fa-angle-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="tab6" class="tabContent">
                        <div class="col-md-12" style="padding-left:0px; padding-right:0px;">
                            <div class="content-panel" style="height: 100%">
                                <form class="form-horizontal" role="form" style="padding-top:15px;">
                                    <fieldset>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="recruiterComment" class="col-sm-4 control-label">Recruiter Commments:</label>
                                                <div class="col-sm-8">
                                                    <textarea rows="4" id="recruiterComment" class="form-control" ng-model="consultant.recruiterComments"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="status" class="col-sm-4 control-label">Status*:</label>
                                                <div class="col-sm-8">
                                                    <select id="status" class="form-control" ng-model="consultant.profileStatus">
                                                        <option value="">-Select-</option>
                                                        <option value="Recruitment in Progress" ng-hide="recruiterAdmin">Recruitment in Progress</option>
                                                        <option value="Submitted to Administrator review" ng-hide="recruiterAdmin">Submitted to Administrator review</option>
                                                        <option value="Under Administrator review" ng-show="recruiterAdmin">Under Administrator review</option>
                                                        <option value="Marketing Ready" ng-show="recruiterAdmin">Marketing Ready</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                                <div class="form-group" style="text-align: right;padding-right: 15px;padding-bottom: 15px;">
                                    <button class="btn btn-primary btn-sm" ng-click="gotoPreviousTab5()"><i class="fa fa-angle-left"></i> Previous</button>&nbsp;&nbsp;
                                    <button class="btn btn-primary btn-sm" ng-click="saveProfileSubmission(consultant.profileStatus, consultant.recruiterComments)">Save <i class="fa fa-save"></i></button>&nbsp;&nbsp;
                                    <button class="btn btn-danger btn-sm" ng-click="cancel()">Cancel <i class=" fa fa-ban"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog" style="width: 250px;height: 175px;">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Primary Skill</h4>
                    </div>
                    <div class="modal-body">
                        <p>Add more than one new skills seperated by comma.</p>
                        <input type="text" class="form-control" ng-model="newPrimarySkill" placeholder="Skill1,skill2" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="AddNewPrimarySkill(newPrimarySkill)">Add</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="SecondarySkillModal" role="dialog">
            <div class="modal-dialog" style="width: 250px;height: 175px;">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Secondary Skill</h4>
                    </div>
                    <div class="modal-body">
                        <p>Add more than one new skills seperated by comma.</p>
                        <input type="text" class="form-control" ng-model="newSecondarySkill" placeholder="Skill1,skill2" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="AddNewSecondarySkill(newSecondarySkill)">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="Theme/assets/js/jquery.js"></script>
<script src="Theme/assets/js/bootstrap.min.js"></script>

<script type="text/javascript">
    $(window).load(function () {
        $(".wrapper").show();
    });

    $(document).on('click', '.browse', function () {
        var file = $(this).parent().parent().parent().find('.file');
        file.trigger('click');
    });
    $(document).on('change', '.file', function () {
        $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i, ''));
    });

    $(".tabContent").hide();
    $("ul.tabs li:first").addClass("active").show();
    $(".tabContent:first").show();

    $("ul.tabs li").click(function () {
        $("ul.tabs li").removeClass("active");
        $(this).addClass("active");
        $(".tabContent").hide();
        var activeTab = $(this).find("a").attr("href");
        $(activeTab).fadeIn();
        return false;
    });

    function lettersOnly() {
        var charCode = event.keyCode;

        if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123) || charCode == 8)

            return true;
        else
            return false;
    }
</script>
