﻿<script id="Base-Login-template" type="text/x-kendo-template">
    <div id="login-page"></div>
</script>

<script type="text/javascript" src="/Theme/assets/js/jquery.backstretch.min.js"></script>
<script id="Login-template" type="text/x-kendo-template">
    <div class="container">
        <form class="form-login" onsubmit="return false;">
            <h2 class="form-login-heading">Login to your account</h2>
            <div class="login-wrap">
                <input class="form-control input-transparent login-textbox"
                       placeholder="Enter Email"
                       type="text"
                       data-bind="value:accountCollection.EmailId"
                       id="mobileno"
                       name="mobileNo">
                <br>
                <input id="password"
                       type="password"
                       name="password"
                       class="form-control input-transparent login-textbox"
                       placeholder="Your Password"
                       data-bind="value:accountCollection.Password">
                <label class="checkbox">
                    <span class="pull-right">
                        <a data-toggle="modal" href="#"> Forgot Password?</a>
                    </span>
                </label>
                <a class="btn btn-theme btn-block" data-bind="events:{click: doLogIn}" onclick="return false;"><i class="fa fa-lock"></i>Login</a>
                <hr>
                <div class="login-social-link centered">
                    <p>or you can sign in via your social network</p>
                    <button class="btn btn-facebook" type="submit"><i class="fa fa-facebook"></i> Facebook</button>
                    <button class="btn btn-twitter" type="submit"><i class="fa fa-twitter"></i> Twitter</button>
                </div>
                <div class="registration">
                    Don't have an account yet?<br />
                    <a href="#">
                        Create an account
                    </a>
                </div>
            </div>
        </form>
    </div>
</script>

<script src="@Url.Content("~/App/DataModels/UserDataModel.js")"></script>
<script src="@Url.Content("~/App/DataSources/AccountDataSource.js")"></script>
<script src="@Url.Content("~/App/ViewModels/Account/AccountModel.js")"></script>
<script src="@Url.Content("~/App/ViewModels/Account/AccountVM.js")"></script>
<script src="@Url.Content("~/App/ViewModels/HomeLayoutViewModel.js")"></script>

<script type="text/javascript">
    $(window).load(function () {
        STS.Portal.layouts.mainLayout = new kendo.Layout("Base-Login-template");
        STS.Portal.layouts.mainLayout.render($("#app"));
        STS.Portal.vm.AccountVM().start();
    });
</script>

<script type="text/javascript">
    $(window).load(function () {
        $(".container").show();
    });
</script>

<script>
    $.backstretch("/Theme/assets/img/login-bg.jpg", { speed: 500 });
</script>