﻿<script id="Base-dashboard-template" type="text/x-kendo-template">
    <div id="content-section"></div>
</script>

<script id="dashboard-template" type="text/x-kendo-template">
    <section class="wrapper">
        <div class="row mt">
            test
            test
            test
            test
        </div>
    </section>
</script>

<script src="@Url.Content("~/App/ViewModels/Dashboard/DashboardVM.js")"></script>
<script src="@Url.Content("~/App/ViewModels/Dashboard/DashboardModel.js")"></script>
<script src="@Url.Content("~/App/DataSources/DashboardDataSource.js")"></script>

<script type="text/javascript">
    $(window).load(function () {
        STS.Portal.layouts.mainLayout = new kendo.Layout("Base-dashboard-template");
        STS.Portal.layouts.mainLayout.render($("#app"));
        STS.Portal.vm.DashboardVM().start();
    });
</script>


<script type="text/javascript">
    $(window).load(function () {
        $(".wrapper").show();
    });
</script>