﻿<script id="Base-Recruitement-template" type="text/x-kendo-template">
    <div id="content-section"></div>
</script>

<script id="AllConsultant-template" type="text/x-kendo-template">
    <style>
        .k-header {
            background-color: #EDECEC;
        }
    </style>
    <section class="wrapper">
        <div class="col-md-12">
            <div class="col-md-6 text-left" style="padding-left: 0px;">
                <h3>All Consultants</h3>
            </div>
            <div class="col-md-6 text-right" style="padding-right: 0px; padding-top: 20px;">
                <a id="showAll" class="btn btn-flat btn-default btn-sm" data-bind="events:{click: showAll}, visible:IsInEditMode" onclick="return false;"><i class="fa fa-columns"></i> Show All</a>
                <a id="addNewConsultant" class="btn btn-flat btn-default btn-sm" data-bind="events:{click: addNewCounsultant}, visible:IsInListMode" onclick="return false;"><i class="fa fa-plus"></i> Add New</a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table data-role="grid"
                           data-sortable="true"
                           data-columns="[{ 'field': 'ConsultantDisplayId','title':'ID'},
                                { 'field': 'Name','title':'Name'},
								{ 'field': 'Email', 'title' : 'Email'},
								{ 'field':'PhoneNumber', 'title' : 'PhoneNumber'},
                           { command: ['edit','destroy']}]"
                           data-bind="source: ConsultantDs"
                           data-editable='{"mode": "popup"}'
                           data-pageable="true"
                           data-navigatable="true"
                           data-scrollable="false"
                           data-filterable="true"
                           data-row-template="rowTemplate"
                           data-alt-row-template="altRowTemplate"></table>
                </div>
            </div>
        </div>
    </section>
</script>

<script id="rowTemplate" type="text/x-kendo-tmpl">
    <tr data-uid='#=ConsultantId#' class=''>
        <td>
            <span>#: ConsultantDisplayId# </span>
        </td>
        <td>
            <span>#: Name# </span>
        </td>
        <td>
            <span>#: Email# </span>
        </td>
        <td>
            <span>#: PhoneNumber# </span>
        </td>
        <td>
            <a class="btn btn-flat btn-default btn-sm" href="\\#/Edit/#=ConsultantId#" data-bind="events: { click: OnClickEditConsultant }"><i class="fa fa-edit"></i> Edit</a>
            <a class="btn btn-flat btn-default btn-sm" data-bind="events: { click: OnClickDeleteConsultant }"><i class="fa fa-times"></i> Delete</a>
        </td>
    </tr>
</script>

<script id="altRowTemplate" type="text/x-kendo-tmpl">
    <tr data-uid='#=ConsultantId#' class=''>
        <td>
            <span>#: ConsultantDisplayId# </span>
        </td>
        <td>
            <span>#: Name# </span>
        </td>
        <td>
            <span>#: Email# </span>
        </td>
        <td>
            <span>#: PhoneNumber# </span>
        </td>
        <td>
            <a class="btn btn-flat btn-default btn-sm" href="\\#/Edit/#=ConsultantId#" data-bind="events: { click: OnClickEditConsultant }"><i class="fa fa-edit"></i> Edit</a>
            <a class="btn btn-flat btn-default btn-sm" data-bind="events: { click: OnClickDeleteConsultant }"><i class="fa fa-times"></i> Delete</a>
        </td>
    </tr>
</script>

<script id="AddNewConsultant-template" type="text/x-kendo-template">
    <section class="wrapper">
        <div class="col-md-12">
            <div class="col-md-6 text-left" style="padding-left: 0px;">
                <h3>Add/Edit Consultants</h3>
            </div>
            <div class="col-md-6 text-right" style="padding-right: 0px; padding-top: 20px;">
                <a id="showAll" class="btn btn-flat btn-default btn-sm" data-bind="events:{click: showAll}, visible:IsInEditMode" onclick="return false;"><i class="fa fa-columns"></i> Show All</a>
                <a id="addNewConsultant" class="btn btn-flat btn-default btn-sm" data-bind="events:{click: addNewCounsultant}, visible:IsInListMode" onclick="return false;"><i class="fa fa-plus"></i> Add New</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <br />
                <div class="k-content tabBox widget-tabs">
                    <div id="tabstrip">
                        <ul class="tabs nav nav-tabs">
                            <li id="tab1li" class="anchorTab k-first k-tab-on-top k-state-active">
                                Personal Information
                            </li>
                            <li id="tab2li" class="anchorTab">
                                Contact Information
                            </li>
                            <li id="tab3li" class="anchorTab">
                                Education
                            </li>
                            <li id="tab4li" class="anchorTab">
                                Additional Information
                            </li>
                            <li id="tab5li" class="anchorTab">
                                Documents
                            </li>
                            <li id="tab6li" class="anchorTab">
                                Additional Info - Profile submission
                            </li>
                        </ul>
                        <div id="tabstrip-1" role="tabpanel" style="" class="k-state-active">
                            <table class="table table-responsive">
                                <tr>
                                    <td style="border-top:none;">
                                        <label>First Name<span style="color:red">*</span>:</label>
                                        <input type="text" id="FName" name="FName" data-bind="value:consultantCollection.FName" class="form-control k-textbox" placeholder="First Name" />
                                    </td>
                                    <td style="border-top:none;">
                                        <label>Last Name<span style="color:red">*</span>:</label>
                                        <input type="text" id="LName" name="LName" data-bind="value:consultantCollection.LName" class="form-control k-textbox" placeholder="Last Name" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border-top:none;">
                                        <label>Email<span style="color:red">*</span>:</label>
                                        <input type="text" id="email" name="email" data-bind="value:consultantCollection.Email" class="form-control k-textbox" placeholder="e.g. myname@example.net" />
                                    </td>
                                    <td style="border-top:none;">
                                        <label>Phone Number<span style="color:red">*</span>:</label>
                                        <input type="tel" id="phoneNumber" name="phoneNumber" pattern="^\d{4}-\d{3}-\d{4}$" data-bind="value:consultantCollection.PhoneNumber" class="form-control k-textbox" placeholder="xxxx-xxx-xxxx" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border-top:none;">
                                        <label>Work Authorization Type<span style="color:red">*</span>:</label>
                                        <input data-role="dropdownlist"
                                               data-auto-bind="false"
                                               data-option-label="Please Select"
                                               data-value-primitive="true"
                                               data-text-field="WorkAuthorizationTypeName"
                                               data-value-field="WorkAuthorizationTypeId"
                                               data-bind="value: consultantCollection.WorkAuthorizationTypeId, source: WorkAuthorizationTypeDs"
                                               id="workAuthorizationDropdownList" class="form-control" style="height:30px;">
                                    </td>
                                    <td style="border-top:none;">
                                        <label>Date of first entry to US<span style="color:red">*</span>:</label>
                                        <input data-role="datepicker"
                                               id="datepicker"
                                               name="datepicker"
                                               placeholder="Enter Date"
                                               class="form-control" type="text"
                                               data-bind="value: consultantCollection.DoeUsa"
                                               data-format="dd-MM-yyyy" maxlength="10">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border-top:none;">
                                        <br />
                                    </td>
                                    <td style="text-align:right; border-top:none;">
                                        <a class="btn btn-flat btn-default btn-sm" id="tab1Save" data-bind="events:{click: tab1Save}"><i class="fa fa-save"></i> Save</a>
                                        <a class="btn btn-flat btn-default btn-sm" id="tab1Cancel" data-bind="events:{click: tab1Cancel}"><i class="fa fa-ban"></i> Cancel</a>
                                        <a class="btn btn-flat btn-default btn-sm" id="tab1Next" data-bind="events:{click: tab1Next}"><i class="fa fa-angle-right"></i> Next</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div>
                            <p style="font-weight:bold">Current Location:</p>
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th>Country<span style="color:red">*</span></th>
                                        <th>State</th>
                                        <th>City</th>
                                        <th>Street<span style="color:red">*</span></th>
                                        <th>Zipcode<span style="color:red">*</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="col-md-2">
                                            <input data-role="dropdownlist"
                                                   data-auto-bind="false"
                                                   data-option-label="Please Select"
                                                   data-value-primitive="true"
                                                   data-text-field="name"
                                                   data-value-field="code"
                                                   data-bind="value: consultantCollection.CurrentLocationCountry, source: CountryDs, events:{change:onCountryChange}"
                                                   id="countryDropdownList" class="form-control" style="height:30px;">
                                        </td>
                                        <td class="col-md-2">
                                            <input data-role="dropdownlist"
                                                   data-auto-bind="false"
                                                   data-option-label="Please Select"
                                                   data-value-primitive="true"
                                                   data-text-field="region"
                                                   data-value-field="region"
                                                   data-bind="value: consultantCollection.CurrentLocationState, source: StatesDs, events:{change:onStateChange}"
                                                   id="statesDropdownList" class="form-control" style="height:30px;">
                                        </td>
                                        <td class="col-md-2">
                                            <input data-role="dropdownlist"
                                                   data-auto-bind="false"
                                                   data-option-label="Please Select"
                                                   data-value-primitive="true"
                                                   data-text-field="city"
                                                   data-value-field="city"
                                                   data-bind="value: consultantCollection.CurrentLocationCity, source: CityDs, events:{change:onCityChange}"
                                                   id="cityDropdownList" class="form-control" style="height:30px;">
                                        </td>
                                        <td class="col-md-3">
                                            <input type="text" id="current_street" name="current_street" data-bind="value:consultantCollection.CurrentLocationStreet" class="form-control k-textbox"
                                                   placeholder="street address" />
                                        </td>
                                        <td class="col-md-2">
                                            <input type="text" id="current_zip" name="current_zip" data-bind="value:consultantCollection.CurrentLocationZipcode" class="form-control k-textbox"
                                                   placeholder="zipcode" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br />
                            <div style="display:inline-flex;">
                                <p style="font-weight:bold">Preffered Location:</p>&nbsp;&nbsp;<a class="btn btn-flat btn-default btn-sm" data-bind="events:{click:addNewPrefferedLocation}">+</a>
                            </div>
                            <div class="table-responsive">
                                <table data-role="grid"
                                       data-sortable="true"
                                       data-columns="[{ 'field': 'PreferredRelocationCountryName','title':'Country'},
                                { 'field': 'PreferredRelocationState','title':'State'},
								{ 'field': 'PreferredRelocationCity', 'title' : 'City'},
								{ 'field':'PreferredRelocationZipCode', 'title' : 'Zipcode'},{ }]"
                                       data-bind="source: PrefferedLocationDs"
                                       data-editable='{"mode": "popup"}'
                                       data-pageable="true"
                                       data-navigatable="true"
                                       data-scrollable="false"
                                       data-filterable="true"
                                       data-row-template="PrefferedLocation-rowTemplate"></table>
                            </div>
                            <br />
                            <div style="text-align:right; border-top:none;">
                                <a class="btn btn-flat btn-default btn-sm" id="tab2Save" data-bind="events:{click: tab2Previous}"><i class="fa fa-angle-left"></i> Previous</a>
                                <a class="btn btn-flat btn-default btn-sm" id="tab2Save" data-bind="events:{click: tab2Save}"><i class="fa fa-save"></i> Save</a>
                                <a class="btn btn-flat btn-default btn-sm" id="tab2Cancel" data-bind="events:{click: tab2Cancel}"><i class="fa fa-ban"></i> Cancel</a>
                                <a class="btn btn-flat btn-default btn-sm" id="tab2Next" data-bind="events:{click: tab2Next}"><i class="fa fa-angle-right"></i> Next</a>
                            </div>
                        </div>
                        <div>
                            <a class="btn btn-flat btn-default btn-sm" data-bind="events:{click:addNewEducation}">+ Add Education</a>
                            <br />
                            <br />
                            <div class="table-responsive">
                                <table data-role="grid"
                                       data-sortable="true"
                                       data-columns="[{ 'field': 'University_Name','title':'University'},
                                { 'field': 'Degree_Name','title':'Degree'},
								{ 'field': 'StartDate', 'title' : 'StartDate'},
								{ 'field':'EndDate', 'title' : 'EndDate'},{ }]"
                                       data-bind="source: educationDs"
                                       data-editable='{"mode": "popup"}'
                                       data-pageable="true"
                                       data-navigatable="true"
                                       data-scrollable="false"
                                       data-filterable="true"
                                       data-row-template="education-rowTemplate"></table>
                            </div>
                            <br />
                            <div style="text-align:right; border-top:none;">
                                <a class="btn btn-flat btn-default btn-sm" id="tab3Previous" data-bind="events:{click: tab3Previous}"><i class="fa fa-angle-left"></i> Previous</a>
                                <a class="btn btn-flat btn-default btn-sm" id="tab3Save" data-bind="events:{click: tab3Save}"><i class="fa fa-save"></i> Save</a>
                                <a class="btn btn-flat btn-default btn-sm" id="tab3Cancel" data-bind="events:{click: tab3Cancel}"><i class="fa fa-ban"></i> Cancel</a>
                                <a class="btn btn-flat btn-default btn-sm" id="tab3Next" data-bind="events:{click: tab3Next}"><i class="fa fa-angle-right"></i> Next</a>
                            </div>
                        </div>
                        <div>
                            <table class="table table-responsive">
                                <tr>
                                    <td style="border-top:none;width: 50%;">
                                        <label class="control-label">Primary skill set <span style="color:red">*</span>:</label>
                                        <div style="display:flex;">
                                            <select data-role="multiselect"
                                                    data-placeholder="Type a skill"
                                                    data-value-primitive="true"
                                                    data-text-field="Skill_Name"
                                                    data-value-field="Skill_Id"
                                                    data-bind="value:consultantCollection.primarySkillId, source: primarySkillsDs"
                                                    id="primarySkillDropDown"
                                                    style="height:30px;width:100%"></select>&nbsp;&nbsp;
                                        </div>
                                        @*<a class="btn btn-flat btn-default btn-sm" data-bind="events:{click:addNewUniversity}" style="height: 20px;margin-top: 0px;">+</a>*@
                                    </td>
                                    <td style="border-top:none;width: 50%;">
                                        <label class="control-label">Last five SSN <span style="color:red">*</span>:</label>
                                        <div>
                                            <input type="number" data-bind="value:consultantCollection.SsnLastFive" class="k-textbox form-control" id="lastFiveSsn" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border-top:none;width: 50%;">
                                        <label class="control-label">Secondary skill set:<span style="color:red">*</span>:</label>
                                        <div style="display:flex;">
                                            <select data-role="multiselect"
                                                    data-placeholder="Type a skill"
                                                    data-value-primitive="true"
                                                    data-text-field="Skill_Name"
                                                    data-value-field="Skill_Id"
                                                    id="secondarySkillDropDown"
                                                    data-bind="value:consultantCollection.secondarySkillId, source: secondarySkillsDs"
                                                    style="height:30px;width:100%"></select>&nbsp;&nbsp;
                                            @*<a class="btn btn-flat btn-default btn-sm" data-bind="events:{click:addNewUniversity}" style="height: 20px;margin-top: 0px;">+</a>*@
                                        </div>
                                    </td>
                                    <td style="border-top:none;width: 50%;">
                                        <label class="control-label">Client interview availability Timings :</label>
                                        <div>
                                            <textarea data-bind="value:consultantCollection.ClientInterviewTimes" class="k-textbox form-control" id="clientInterviewAvailabilityTimings"></textarea>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border-top:none;width: 50%;">
                                        <label class="control-label">Salary <span style="color:red">*</span>:</label>
                                        <div style="display:flex;">
                                            <input data-role="dropdownlist"
                                                   data-auto-bind="false"
                                                   data-placeholder="Type a skill"
                                                   data-value-primitive="true"
                                                   data-text-field="text"
                                                   data-value-field="value"
                                                   data-bind="value:consultantCollection.Salary_Type, source: sallaryBillingModeDs"
                                                   id="sallaryBillingList" class="form-control" style="height: 30px;">&nbsp;
                                            <span><i class="fa fa-angle-right fa-2x"></i></span>&nbsp;
                                            <input type="number" id="salaryAmountTextbox" name="salaryAmountTextbox" data-bind="value:consultantCollection.Salary_Amount" class="form-control k-textbox" placeholder="50" style="height:32px;" />
                                        </div>
                                    </td>
                                    <td style="border-top:none;width: 50%;">
                                        <label class="control-label">Vendor call availability timings :</label>
                                        <div>
                                            <textarea data-bind="value:consultantCollection.VendorCallTimings" class="k-textbox form-control" id="vendorCallAvailabilityTimings"></textarea>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border-top:none;width: 50%;">
                                        <label class="control-label">LinkedIn profile:</label>
                                        <div>
                                            <input type="text" data-bind="value:consultantCollection.Linkdein_Profile" class="k-textbox form-control" id="linkedInProfile" />
                                        </div>
                                    </td>
                                    <td style="border-top:none;width: 50%;">
                                        <label class="control-label">Seeking job roles<span style="color:red">*</span>:</label>
                                        <div>
                                            <textarea data-bind="value:consultantCollection.Seeking_job_roles" class="k-textbox form-control" id="jobRolesTexArea"></textarea>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border-top:none;width: 50%;"></td>
                                    <td style="border-top:none; text-align:right;width: 50%;">
                                        <a class="btn btn-flat btn-default btn-sm" id="tab4Previous" data-bind="events:{click: tab4Previous}"><i class="fa fa-angle-left"></i> Previous</a>
                                        <a class="btn btn-flat btn-default btn-sm" id="tab4Save" data-bind="events:{click: tab4Save}"><i class="fa fa-save"></i> Save</a>
                                        <a class="btn btn-flat btn-default btn-sm" id="tab4Cancel" data-bind="events:{click: tab4Cancel}"><i class="fa fa-ban"></i> Cancel</a>
                                        <a class="btn btn-flat btn-default btn-sm" id="tab4Next" data-bind="events:{click: tab4Next}"><i class="fa fa-angle-right"></i> Next</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div>
                            <a class="btn btn-flat btn-default btn-sm" data-bind="events:{click:addNewDocument}">+ Add Document</a>
                            <br />
                            <br />
                            <div class="table-responsive">
                                <table data-role="grid"
                                       data-sortable="true"
                                       data-columns="[{ 'field': 'Work_Authorization_Type_Name','title':'Work Auth Type'},
                                { 'field': 'ID_TYPE_Name','title':'Type of ID'},
								{ 'field': 'Photo_Type_ID_Name', 'title' : 'Type of Photo'},
								{ 'field':'Valid_From', 'title' : 'Valid From'},
                                { 'field':'Valid_To', 'title' : 'Valid To'},
                                { 'field':'Status', 'title' : 'Active'},
                                { 'field':'Uploaded_Copy', 'title' : 'Doc'},{ }]"
                                       data-bind="source: documentDs"
                                       data-pageable="true"
                                       data-navigatable="true"
                                       data-scrollable="false"
                                       data-filterable="true"
                                       data-row-template="document-rowTemplate"></table>
                            </div>
                            <br />
                            <div style="text-align:right">
                                <a class="btn btn-flat btn-default btn-sm" id="tab5Previous" data-bind="events:{click: tab5Previous}"><i class="fa fa-angle-left"></i> Previous</a>
                                <a class="btn btn-flat btn-default btn-sm" id="tab5Save" data-bind="events:{click: tab5Save}"><i class="fa fa-save"></i> Save</a>
                                <a class="btn btn-flat btn-default btn-sm" id="tab5Cancel" data-bind="events:{click: tab5Cancel}"><i class="fa fa-ban"></i> Cancel</a>
                                <a class="btn btn-flat btn-default btn-sm" id="tab5Next" data-bind="events:{click: tab5Next}"><i class="fa fa-angle-right"></i> Next</a>
                            </div>
                        </div>
                        <div>
                            <table class="table table-responsive">
                                <tr>
                                    <td style="border-top:none;width: 50%;">
                                        <label>Status:</label>
                                        <input data-role="dropdownlist"
                                               data-auto-bind="false"
                                               data-option-label="Please Select"
                                               data-value-primitive="true"
                                               data-text-field="Status_Name"
                                               data-value-field="Status_Id"
                                               data-bind="value: consultantCollection.Status, source: statusDs"
                                               id="workAuthorizationDropdownList" class="form-control">
                                    </td>
                                    <td style="border-top:none;width: 50%;"></td>
                                </tr>
                                <tr>
                                    <td style="border-top:none;width: 50%;"></td>
                                    <td style="border-top:none;width: 50%;text-align:right;">
                                        <a class="btn btn-flat btn-default btn-sm" id="tab6Previous" data-bind="events:{click: tab6Previous}"><i class="fa fa-angle-left"></i> Previous</a>
                                        <a class="btn btn-flat btn-default btn-sm" id="tab6Save" data-bind="events:{click: tab6Save}"><i class="fa fa-save"></i> Submit</a>
                                    </td>
                                </tr>
                            </table>
                            <div class="form-group"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</script>

<script id="PrefferedLocation-rowTemplate" type="text/x-kendo-template">
    <tr data-uid='#=prefLocId#' class=''>
        <td>
            <span>#: PreferredRelocationCountryName# </span>
        </td>
        <td>
            <span>#: PreferredRelocationState# </span>
        </td>
        <td>
            <span>#: PreferredRelocationCity# </span>
        </td>
        <td>
            <span>#: PreferredRelocationZipCode# </span>
        </td>
        <td>
            <a class="btn btn-flat btn-default btn-sm" href="\\#/EditPrefferedLocation/#=ConsultantId#/#=prefLocId#"><i class="fa fa-edit"></i> Edit</a>
            <a class="btn btn-flat btn-default btn-sm" data-bind="events: { click: OnClickDeletePreferredLocation }"><i class="fa fa-times"></i> Delete</a>
        </td>
    </tr>
</script>

<script id="AddPrefferedLocation-rowTemplate" type="text/x-kendo-template">
    <div class="col-md-12">
        <div class="col-md-6 text-left" style="padding-left: 0px;padding-top: 55px;">
            <h3>Add/Edit PrefferedLocation</h3>
        </div>
    </div>
    <br />
    <section class="wrapper" style="margin-top: 15px;">
        <div class="col-md-12" style="background-color: #fff;">
            <div class="col-md-6">
                <div class="form-group">
                    <br />
                    <label class="col-sm-4 control-label">Country:</label>
                    <div class="col-sm-7">
                        <input data-role="dropdownlist"
                               data-auto-bind="true"
                               data-option-label="Please Select"
                               data-value-primitive="true"
                               data-text-field="name"
                               data-value-field="code"
                               data-bind="value: preferredLoacationCollection.PreferredRelocationCountry, source: PrefCountryDs, events:{change:onPreCountryChange}"
                               id="countryDropdownList-pref" class="form-control" style="height:30px;">
                    </div>
                    <br />
                    <br />
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">State:</label>
                    <div class="col-sm-7">
                        <input data-role="dropdownlist"
                               data-auto-bind="true"
                               data-option-label="Please Select"
                               data-value-primitive="true"
                               data-text-field="region"
                               data-value-field="region"
                               data-bind="value: preferredLoacationCollection.PreferredRelocationState, source: PrefStatesDs, events:{change:onPreStateChange}"
                               id="statesDropdownList-pref" class="form-control" style="height:30px;">
                    </div>
                </div>
                <br />
                <br />
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <br />
                    <label class="col-sm-4 control-label">City:</label>
                    <div class="col-sm-7">
                        <input data-role="dropdownlist"
                               data-auto-bind="true"
                               data-option-label="Please Select"
                               data-value-primitive="true"
                               data-text-field="city"
                               data-value-field="city"
                               data-bind="value: preferredLoacationCollection.PreferredRelocationCity, source: PrefCityDs, events:{change:onPreCityChange}"
                               id="cityDropdownList-pref" class="form-control" style="height:30px;">
                    </div>
                    <br />
                    <br />
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Zipcode:</label>
                    <div class="col-sm-7">
                        <input type="text" id="current_zip" name="current_zip" data-bind="value:preferredLoacationCollection.PreferredRelocationZipCode"
                               class="form-control k-textbox" placeholder="zipcode" />
                    </div>
                    <br />
                    <br />
                </div>
                <div class="form-group" style="text-align:right">
                    <a class="btn btn-flat btn-default btn-sm" data-bind="events:{click:savePrefferedLocation}"> Save</a>
                    <a class="btn btn-flat btn-default btn-sm" data-bind="events:{click:cancelPrefferedLocation}"> Cancel</a>
                </div>
            </div>
        </div>
    </section>
</script>

<script id="education-rowTemplate" type="text/x-kendo-template">
    <tr data-uid='#=Id#' class=''>
        <td>
            <span>#: University_Name# </span>
        </td>
        <td>
            <span>#: Degree_Name# </span>
        </td>
        <td>
            <span>#= kendo.toString(StartDate, "dd/MM/yyyy") #</span>
        </td>
        <td>
            <span>#= kendo.toString(EndDate, "dd/MM/yyyy") #</span>
        </td>
        <td>
            <a class="btn btn-flat btn-default btn-sm" href="\\#/editEducation/#=ConsultantId#/#=Id#"><i class="fa fa-edit"></i> Edit</a>
            <a class="btn btn-flat btn-default btn-sm" data-bind="events: { click: onClickDeleteEducation }"><i class="fa fa-times"></i> Delete</a>
        </td>
    </tr>
</script>

<script id="document-rowTemplate" type="text/x-kendo-template">
    <tr data-uid='#=Proof_ID#' class=''>
        <td>
            <span>#: Work_Authorization_Type_Name# </span>
        </td>
        <td>
            <span>#: ID_TYPE_Name# </span>
        </td>
        <td>
            <span>#: Photo_Type_ID_Name# </span>
        </td>
        <td>
            <span>#= kendo.toString(Valid_From, "dd/MM/yyyy") #</span>
        </td>
        <td>
            <span>#= kendo.toString(Valid_To, "dd/MM/yyyy") #</span>
        </td>
        <td>
            <span><input type="checkbox" checked="Status" disabled="disabled" /> </span>
        </td>
        <td>
            <span><a href="#=Uploaded_Copy#">Download</a></span>
        </td>
        <td>
            <a class="btn btn-flat btn-default btn-sm" href="\\#/editDocument/#=ConsultantId#/#=Proof_ID#"><i class="fa fa-edit"></i> Edit</a>
            <a class="btn btn-flat btn-default btn-sm" data-bind="events: { click: onClickDeleteEducation }"><i class="fa fa-times"></i> Delete</a>
        </td>
    </tr>
</script>

<script id="AddNewEducation" type="text/x-kendo-template">
    <div class="col-md-12">
        <div class="col-md-6 text-left" style="padding-left: 0px;padding-top: 55px;">
            <h3>Add/Edit Education</h3>
        </div>
    </div>
    <br />
    <section class="wrapper" style="margin-top:15px;">
        <div class="col-md-12" style="background-color:#fff;">
            <div class="col-md-6">
                <div class="form-group">
                    <br />
                    <label class="col-sm-4 control-label" style="padding-top:6px;">University:</label>
                    <div class="col-sm-7" style="display:flex;">
                        <input data-role="combobox"
                               data-placeholder="Type a university name"
                               data-value-primitive="true"
                               data-text-field="University_Name"
                               data-value-field="University_Id"
                               data-bind="value: educationCollection.University_Id, source: universityDs, events: {change: onChangeUniversityDropdown}"
                               class="form-control"
                               id="universityComboBox"
                               style="width: 100%" />&nbsp;&nbsp;
                        <a class="btn btn-flat btn-default btn-sm" data-bind="visible:isUniversityNotAvailable, events:{click:addNewUniversity}" style="height: 30px;margin-top: 0px;">+</a>
                    </div>
                    <br />
                    <br />
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" style="padding-top:6px;">Degree:</label>
                    <div class="col-sm-7" style="display:flex;">
                        <input data-role="combobox"
                               data-placeholder="Type a degree name"
                               data-value-primitive="true"
                               data-text-field="Degree_name"
                               data-value-field="Degree_Id"
                               data-bind="value: degreeCollection.Degree_Id, source: degreeDs, events: {change: onChangeDegreeDropdown}"
                               class="form-control"
                               id="degreeComboBox"
                               style="width: 100%" />&nbsp;&nbsp;
                        <a class="btn btn-flat btn-default btn-sm" data-bind="visible:isDegreeNotAvailable, events:{click:addNewDegree}" style="height: 30px;margin-top: 0px;">+</a>
                    </div>
                </div>
                <br />
                <br />
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <br />
                    <label class="col-sm-4 control-label" style="padding-top:6px;">Start Date:</label>
                    <div class="col-sm-7" style="display:flex;">
                        <input data-role="datepicker"
                               id="datepicker"
                               name="datepicker"
                               placeholder="Enter Date"
                               class="form-control" type="text"
                               data-bind="value: educationCollection.StartDate"
                               data-format="dd-MM-yyyy" maxlength="10">
                    </div>
                    <br />
                    <br />
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" style="padding-top:6px;">End Date:</label>
                    <div class="col-sm-7" style="display:flex;">
                        <input data-role="datepicker"
                               id="datepicker"
                               name="datepicker"
                               placeholder="Enter Date"
                               class="form-control" type="text"
                               data-bind="value: educationCollection.EndDate"
                               data-format="dd-MM-yyyy" maxlength="10">
                    </div>
                    <br />
                    <br />
                </div>
                <div class="form-group" style="text-align:right">
                    <a class="btn btn-flat btn-default btn-sm" data-bind="events:{click:addEducation}"> Save</a>
                    <a class="btn btn-flat btn-default btn-sm" data-bind="events:{click:cancelEducation}"> Cancel</a>
                </div>
            </div>
        </div>
    </section>
</script>

<script id="AddNewDocument" type="text/x-kendo-template">
    <div class="col-md-12">
        <div class="col-md-6 text-left" style="padding-left: 0px;padding-top: 55px;">
            <h3>Add/Edit Document</h3>
        </div>
    </div>
    <br />
    <section class="wrapper" style="margin-top:15px;">
        <div class="col-md-12" style="background-color:#fff;">
            <div class="col-md-6">
                <div class="form-group">
                    <br />
                    <label class="col-sm-4 control-label" style="padding-top:6px;">Work Authorization Type <span style="color:red;">*</span>:</label>
                    <div class="col-sm-7" style="display:flex;padding-left: 0;padding-right: 0;">
                        <input data-role="dropdownlist"
                               data-auto-bind="false"
                               data-option-label="Please Select"
                               data-value-primitive="true"
                               data-text-field="WorkAuthorizationTypeName"
                               data-value-field="WorkAuthorizationTypeId"
                               data-bind="value: documentCollection.WorkAuthorizationTypeId, source: WorkAuthorizationTypeDs"
                               id="workAuthorizationDropdownList-document" class="form-control" style="height:30px;">
                    </div>
                    <br />
                </div>
                <div class="form-group">
                    <br />
                    <label class="col-sm-4 control-label" style="padding-top:6px;">Id Type <span style="color:red;">*</span>:</label>
                    <div class="col-sm-7" style="display:flex;padding-left: 0;padding-right: 0;">
                        <input data-role="dropdownlist"
                               data-auto-bind="false"
                               data-option-label="Please Select"
                               data-value-primitive="true"
                               data-text-field="ID_Type_Name"
                               data-value-field="ID_Type_ID"
                               data-bind="value: documentCollection.ID_TYPE, source: idTypeDs"
                               id="idTypeDropdownList-document" class="form-control" style="height:30px;">
                    </div>
                    <br />
                </div>
                <div class="form-group">
                    <br />
                    <label class="col-sm-4 control-label" style="padding-top:6px;">Photo Id Type <span style="color:red;">*</span>:</label>
                    <div class="col-sm-7" style="display:flex;padding-left: 0;padding-right: 0;">
                        <input data-role="dropdownlist"
                               data-auto-bind="false"
                               data-option-label="Please Select"
                               data-value-primitive="true"
                               data-text-field="Photo_Type_Name"
                               data-value-field="Photo_Type_Id"
                               data-bind="value: documentCollection.Photo_Type_ID, source: photoIdTypeDs"
                               id="photoTypeDropdownList-document" class="form-control" style="height:30px;">
                    </div>
                    <br />
                </div>
                <div class="form-group">
                    <br />
                    <label class="col-sm-4 control-label" style="padding-top:6px;">File Upload <span style="color:red;">*</span>:</label>
                    <div class="col-sm-7" style="display:flex;padding-left: 0;padding-right: 0;">
                        <input type="file"
                               data-role="upload"
                               data-async="{ autoUpload: false }"
                               data-bind="events: { select: onDocumentSelect }"
                               data-multiple="false" tabindex="1" id="documentUpload" style="width:100%;" class="form-control" />
                    </div>
                    <br />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <br />
                    <label class="col-sm-4 control-label" style="padding-top:6px;">Valid From <span style="color:red;">*</span>:</label>
                    <div class="col-sm-7" style="display:flex;padding-left: 0;padding-right: 0;">
                        <input data-role="datepicker"
                               id="validFromDatepicker"
                               name="datepicker"
                               placeholder="Enter Date"
                               class="form-control" type="text"
                               data-bind="value: documentCollection.Valid_From"
                               data-format="dd-MM-yyyy" maxlength="10">
                    </div>
                    <br />
                </div>
                <div class="form-group">
                    <br />
                    <label class="col-sm-4 control-label" style="padding-top:6px;">Valid To <span style="color:red;">*</span>:</label>
                    <div class="col-sm-7" style="display:flex;padding-left: 0;padding-right: 0;">
                        <input data-role="datepicker"
                               id="validToDatepicker"
                               name="datepicker"
                               placeholder="Enter Date"
                               class="form-control" type="text"
                               data-bind="value: documentCollection.Valid_To"
                               data-format="dd-MM-yyyy" maxlength="10">
                    </div>
                    <br />
                </div>
                <div class="form-group">
                    <br />
                    <label class="col-sm-4 control-label">Status :</label>
                    <div class="col-sm-7" style="display:flex;padding-left: 0;padding-right: 0;">
                        <input type="checkbox" data-bind="checked: documentCollection.Status" />
                    </div>
                    <br />
                </div>
            </div>
        </div>
        <div class="col-md-12" style="background-color:#fff;">
            <div class="form-group" style="text-align:right">
                <a class="btn btn-flat btn-default btn-sm" data-bind="events:{click:addDocument}"> Save</a>
                <a class="btn btn-flat btn-default btn-sm" data-bind="events:{click:cancelDocument}"> Cancel</a>
            </div>
        </div>
    </section>
</script>

<script src="@Url.Content("~/App/DataModels/RecruitementDataModel.js")"></script>
<script src="@Url.Content("~/App/DataModels/PrefferedRelocationDataModel.js")"></script>
<script src="@Url.Content("~/App/DataModels/EducationDataModel.js")"></script>
<script src="@Url.Content("~/App/DataModels/DocumentDataModel.js")"></script>

<script src="@Url.Content("~/App/DataSources/RecruitmentDataSource.js")"></script>
<script src="@Url.Content("~/App/ViewModels/Recruitment/RecruitmentViewModel.js")"></script>
<script src="@Url.Content("~/App/ViewModels/Recruitment/RecruitmentVM.js")"></script>
<script src="@Url.Content("~/App/ViewModels/HomeLayoutViewModel.js")"></script>
<script src="@Url.Content("~/App/ViewModels/Dashboard/DashboardModel.js")"></script>
<script src="@Url.Content("~/App/DataSources/DashboardDataSource.js")"></script>

<script type="text/javascript">
    $(window).load(function () {
        STS.Portal.layouts.mainLayout = new kendo.Layout("Base-Recruitement-template");
        STS.Portal.layouts.mainLayout.render($("#app"));
        STS.Portal.vm.RecruitmentVM().start();
    });
</script>

<script type="text/javascript">
    $(window).load(function () {
        $(".wrapper").show();
    });

    $(document).ready(function () {
        $("#tab1li").click(function (data) {
            console.log(data);
        })
    });
</script>

<style>
    #tabstrip-parent,
    #tabstrip {
        height: 100%;
        margin: 0;
        padding: 0;
        border-width: 0;
    }
</style>