﻿<!DOCTYPE html>
<html ng-app="mainLayoutApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/underscore.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-aria.min.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Scripts/angular-material.min.js"></script>
    <link href="~/Scripts/angular-material.min.css" rel="stylesheet" />

    <script src="~/Scripts/ng-table.js"></script>
    <script src="~/Scripts/ng-table.min.js"></script>
    <link href="~/Theme/assets/css/ng-table.css" rel="stylesheet" />

    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/moment-with-locales.js"></script>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/ExternalCSS")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript">
        var loaclStorageData = localStorage.getItem("dtlLogin");
        if (loaclStorageData === "null") {
            window.open("Home", "_self");
        }
    </script>
</head>
<body ng-controller="dashboardCtrl">

    <script src="~/CustomJs/DashboardModule.js"></script>
    <script src="~/CustomJs/Controllers/DashboardController.js"></script>
    <script src="~/CustomJs/Services/DashboardFactory.js"></script>

    <div class="se-pre-con" style="display: none; background: url(../Theme/assets/img/Loader.gif) center no-repeat; position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 9999; background-color: aliceblue; opacity: 0.7; "></div>

    <section id="container">

        <!--header start-->
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>
            <!--logo start-->
            <a href="" class="logo" ng-click="navToDashboard()"><img src="~/Theme/assets/img/logo.png" /></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu"></ul>
                <!--  notification end -->
            </div>
            <div class="top-menu">
                <ul class="nav pull-right top-menu">
                    <li>
                        <a class="logout" href="#" ng-click="logout()">Logout</a>
                    </li>
                </ul>
            </div>
        </header>
        <!--header end-->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="sidebar nav-collapse collapse">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">
                    <p class="centered"><a href="#"><img src="~/Theme/assets/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
                    <h5 class="centered">Marcel Newman</h5>

                    <li class="mt">
                        <a class="" id="dashboard" href="" ng-click="navToDashboard()">
                            <i class="fa fa-dashboard"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li ng-show="IsRecruiter">
                        <a class="" id="recruitement" href="#" ng-click="navToRecruiter()">
                            <i class="fa fa-database"></i>
                            <span>Recruitment</span>
                        </a>
                    </li>
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
            @RenderBody()
        </section>
        <!--main content end-->
        @*<!--footer start-->
            <footer class="site-footer">
                <div class="text-center">
                    2014 - Alvarez.is
                    <a href="index.html#" class="go-top">
                        <i class="fa fa-angle-up"></i>
                    </a>
                </div>
            </footer>
            <!--footer end-->*@

    </section>

    @Scripts.Render("~/bundles/jquery")

    <!-- js placed at the end of the document so the pages load faster -->
    <link href="../../Theme/assets/css/table-responsive.css" rel="stylesheet">
    <link href="../../Theme/assets/css/style-responsive.css" rel="stylesheet">

    <script src="../../Theme/assets/js/jquery.js"></script>
    <script src="../../Theme/assets/js/jquery-1.8.3.min.js"></script>
    <script src="../../Theme/assets/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="../../Theme/assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="../../Theme/assets/js/jquery.scrollTo.min.js"></script>
    <script src="../../Theme/assets/js/jquery.nicescroll.js" type="text/javascript"></script>

    @*toastr js and css files*@
    <script src="~/Scripts/toastr.js"></script>
    <link href="~/Content/toastr.css" rel="stylesheet" />


    <!--common script for all pages-->
    <script src="../../Theme/assets/js/common-scripts.js"></script>

    <!--script for this page-->
    <script type="text/javascript" src="../../Theme/assets/js/gritter/js/jquery.gritter.js"></script>
    <script type="text/javascript" src="../../Theme/assets/js/gritter-conf.js"></script>

</body>
</html>
