﻿<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>

	<script src="~/Scripts/angular.min.js"></script>

	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	@RenderBody()

	@Scripts.Render("~/bundles/jquery")
	@RenderSection("scripts" , required: false)
</body>
</html>
<script type="text/javascript" src="/Theme/assets/js/jquery.backstretch.min.js"></script>
<script>
	$.backstretch("/Theme/assets/img/login-bg.jpg", { speed: 500 });
</script>
