﻿@{
	ViewBag.Title = "Login";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-controller="myCntrl">
	
	<link href="~/Theme/assets/css/bootstrap.css" rel="stylesheet" />
    <script src="~/CustomJs/jquery-1.11.3.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

	<script src="~/CustomJs/Module.js"></script>
	<script src="~/CustomJs/Controllers/LoginController.js"></script>
	<script src="~/CustomJs/Services/LoginFactory.js"></script>
    
    <div class="se-pre-con" style="display: none; background: url(../Theme/assets/img/Loader.gif) center no-repeat; position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 9999; background-color: aliceblue; opacity: 0.7; "></div>

    <div id="login-page">
		<div class="container">
			<form class="form-login">
				<h2 class="form-login-heading">{{action}} to your account</h2>


				<div class="login-wrap">
				
					<div class="alert alert-danger" ng-show="isErrorResponse">{{ErrorResponse}}</div>

					<input id="email" type="text" name="email" class="form-control input-transparent login-textbox" placeholder="Your Email" ng-model="email" ng-blur="validateEmail(email)">
					<div ng-show="inValidEmail" id="emailValidationError">{{emailValidationError}}</div>
					<br>
					<input id="password" type="password" name="password" class="form-control input-transparent login-textbox"
						   placeholder="Your Password" ng-model="password" ng-blur="validatePassword(password)">
					<div ng-show="inValidPassword" id="PasswordValidationError">{{passwordValidationError}}</div>
					
					<label class="checkbox">
						<span class="pull-right">
							<a data-toggle="modal" href="#"> Forgot Password?</a>
						</span>
					</label>

					<button type="submit" ng-click="login()" ng-disabled="isDisabled" class="btn btn-theme btn-block"><i class="fa fa-lock"></i> Login</button>
					
					<hr>

					<div class="login-social-link centered">
						<p>or you can sign in via your social network</p>
						<button class="btn btn-facebook" type="submit"><i class="fa fa-facebook"></i> Facebook</button>
						<button class="btn btn-twitter" type="submit"><i class="fa fa-twitter"></i> Twitter</button>
					</div>
					<div class="registration">
						Don't have an account yet?<br />
						<a href="#">
							Create an account
						</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>